/* Begin layout */

html, body {
  height: 100%;
}
div.row {
  height: 100%;
  margin: 0px;
}
div.row > div {
  height: 100%;
}
#movieList,
#navigation,
#displayInfo {
  padding: 0;
}
#movieList {
  border-right: 1px solid #ddd;
  overflow-y: scroll;
}

/* End layout */

/* Begin Navigation */
#navigation {
  background-color: rgb(37, 42, 58);
}
#navigation h3 {
  font-weight: bold;
  color: rgb(75, 113, 151); 
  padding-left: 15%;
}
#navigation .nav{
  padding-left: 20%;
}
#navigation .nav a{
  color: #FFF;
  font-size: 18px;
}
#navigation .nav > li > a:hover,
#navigation .nav > li > a:focus,
#navigation .nav > li > a.selected {
  border-radius: 0px;
  background-color: rgb(55, 60, 90);
}
div.logo {
  width: 30px;
  margin: auto;
  padding-top: 25px;
}

/* End Navigation */

/* Begin Movie List */

.filters {
  /*height: 117px;*/
}
.movieItems {
  height: 100%;
}
.item {
  padding: 15px 0px;
  cursor: pointer;
}
.item:hover,
.item.selected {
  background-color: #eee;
}
.moviePoster {
  width: 75%;
}
.releaseDate {
  color: #999;
  margin: 0;
}
.movieTitle {
  font-weight: bold;
  margin: 0;
  padding: 5px 0px;
}

/* End Movie List */